@{
    ViewData["Title"] = "Task List";
}
@model List<ToDoItem>

<h2>Tasks for User @ViewBag.CurrentUser.Email</h2>
<hr style="height:3px" />
<table style="text-align: center">
    <tr>
        <th>Task ID</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Done?</th>
        <th colspan="2">Functions</th>
    </tr>
    @foreach (ToDoItem t in Model)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.Description</td>
            <td>@t.Deadline.ToShortDateString()</td>
            @if (t.IsDone) {
                <td style="color:green">@t.IsDone</td>
            }
            else
            {
                <td style="color:red">@t.IsDone</td>
            }
            <td><a class="nav-link text-dark" style="background-color:darkorange" asp-area="" asp-controller="TaskList" asp-action="ToggleTask" asp-route-id="@t.Id">Toggle</a></td>
            <td><a class="nav-link text-dark" style="background-color:red" asp-area="" asp-controller="TaskList" asp-action="DeleteTask" asp-route-id="@t.Id">Delete</a></td>
        </tr>
    }
<tr>
    <td colspan="6"><a class="nav-link text-dark" style="background-color:forestgreen" asp-area="" asp-controller="TaskList" asp-action="CreateTask">New Task</a></td>
</tr>
</table>
