@{
    ViewData["Title"] = "Task List";
}
@model List<ToDoItem>

<style>

    a.newtask {
        background-color: forestgreen;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: inline-block;
        margin: 5px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
    
    button {
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: inline-block;
        margin: 5px 5px;
        text-align: center;
        text-decoration: none;
    }

    button.toggletask {
        background-color: darkorange;
    }

    button.deletetask {
        background-color: red;
    }
    
    table {
        width: 100%
    }

    table, th, tr, td {
        border: 1px solid #333333;
    }

    td {
        padding: 2px;
    }

    th {
        background-color: #888888;
    }

    tr {
        background-color: #DDDDDD;
    }

    tr.late {
        background-color: #f7f762;
    }
</style>

<h2>Tasks for User @ViewBag.CurrentUser.Email</h2>
<hr style="height:3px" />
<div>
    <b>Sort By: </b>
    <form method="post">
        <select name="sortOrder">
            <option value="id" selected>ID</option>
            <option value="deadline">Date</option>
            <option value="isdone">Completion</option>
        </select>
        <input type="submit" value="Go"/>
    </form>
</div>
<table style="text-align: center">
    <tr>
        <th>Task ID</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Done?</th>
        <th colspan="2">Functions</th>
    </tr>
    @foreach (ToDoItem t in Model)
    {
        if (DateTime.Compare(DateTime.Now, t.Deadline) > 0)
        {
            <tr class="late">
                <td><b>@t.Id</b></td>
                <td>@t.Description</td>
                <td>@t.Deadline.ToShortDateString()</td>
                @if (t.IsDone)
                {
                    <td style="color:green">@t.IsDone</td>
                }
                else
                {
                    <td style="color:red">@t.IsDone</td>
                }
                <td><form asp-area="" asp-controller="TaskList" asp-action="ToggleTask" asp-route-id="@t.Id"><button class="toggletask">Toggle</button></form></td>
                <td><form asp-area="" asp-controller="TaskList" asp-action="DeleteTask" asp-route-id="@t.Id"><button class="deletetask">Delete</button></form></td>
            </tr>
        }
        else
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Description</td>
                <td>@t.Deadline.ToShortDateString()</td>
                @if (t.IsDone)
                {
                    <td style="color:green">@t.IsDone</td>
                }
                else
                {
                    <td style="color:red">@t.IsDone</td>
                }
                
                <td><form asp-area="" asp-controller="TaskList" asp-action="ToggleTask" asp-route-id="@t.Id"><button class="toggletask">Toggle</button></form></td>
                <td><form asp-area="" asp-controller="TaskList" asp-action="DeleteTask" asp-route-id="@t.Id"><button class="deletetask">Delete</button></form></td>
            </tr>
        }
    }
    <tr>
        <td colspan="6"><a class="newtask" asp-area="" asp-controller="TaskList" asp-action="CreateTask">New Task</a></td>
    </tr>
</table>
<a class="nav-link text-dark" asp-area="" asp-controller="TaskList" asp-action="LogIn">Log Out</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return to Starting Point</a>
